<h1>Listing associados</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @associados.each do |associado| %>
  <tr>
    <td><%= associado.nome %></td>
    <td><%= associado.email %></td>
    <td><%= link_to 'Show', associado %></td>
    <td><%= link_to 'Edit', edit_associado_path(associado) %></td>
    <td><%= link_to 'Destroy', associado, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Associado', new_associado_path %>
